@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

#display {
  font-family: 'Dancing Script', cursive;
}
.double-border {
  border: 5px double #000;
}
.musical-font {
  font-family: 'Dancing Script', cursive;
  color: black;
  font-size: large;
}
